.button-subscribe {
  position: relative;
  padding: 10px 62px 10px 28px;
  width: 200px;
  height: 50px;
  display: block;

  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--accent-color);
  border: 0.5px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  &__icon {
    position: absolute;
    right: 28px;
    top: 50%;
    transform: translateY(-50%);

    fill: currentColor;
  }
}
